.container {
	width: 750px;
	height: 800px;
	margin: 40px auto 0px auto;
}
.container .logoBlock{
	
border: 2px solid black;
text-align: center;

width: 746px;
}
.logoBlock span{
	font-size: 25px;
	display: block;
}
.container .logoBlock .logo {
	width: 300px;
	height: 75px;
}
.container .happyFace {
	width: 80px;
	height: 80px;
	
}

.inputContainer .inputTitle{
	display: block;
	font-size: 25px;
	margin-bottom: 20px;
}

.inputContainer{
	border: 1px solid black;
	padding: 20px
}

.inputContainer .inputRow input{
	margin-right: 98px;
	width: 129px;
	height: 28px;
}

.outputContainer{
	border: 1px solid black;
	margin-top: 5px;
	padding: 20px;
}

button {
margin: 15px 0px 0px 0px;
width: 165px;
height: 30px;
}

input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid black;
}